.ant-anchor-link-title {
  white-space: normal;
}

.ant-anchor-link-active > .ant-anchor-link-title,
.ant-anchor-link a:hover {
  color: #099 !important;
}

.ant-anchor-ink-ball {

  border: 2px solid #099 !important;
}
